/*copyright
This file is part of TipCalculator.
Written in 2024 by Keian Rao <keian.rao@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
copyright*/

html {
    background-color: cornsilk;
}


.table-wrapper {
    display: inline-block;
    max-height: 70vh;
    overflow-y: scroll;
}
#options {
    table-layout: fixed;
    margin: 0.4em 0;
    max-width: 40em;
    
    border-spacing: 0;
    border: 0.05em solid grey;
    border-radius: 1em;
}
#options tr th, #options tr td {
    border-top: 0.05em solid grey;
    padding: 0.4em 0.6em;
    text-align: center;
}
#options > tr td.selected {
    background-color: #0002;
}
#options > tr a:visited {
    color: inherit;
}
#options thead {
    background-color: #0001;
}
#options thead tr th:nth-child(2) { width: 27%; }
#options thead tr th:nth-child(3) { width: 27%; }
#options thead tr th:nth-child(4) { width: 27%; }
#options thead tr * { border-top: none; }

input.error {
    color: #C00;
    background: #FFCC80;
}