/*copyright
This file is part of TipCalculator.
Written in 2024 by Keian Rao <keian.rao@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
copyright*/

html {
    background-color: cornsilk;
}
body {
    margin: 0;
}

#titlebar {
    margin-bottom: 1em;
    padding: 0.5em;

    background-color: cornflowerblue;
    background: linear-gradient(#94B5FF, cornflowerblue);
    border-bottom: 0.1em solid #0003;

    color: whitesmoke;
    text-shadow: #0008 1px 1px;
}
#titlebar h3 {
    margin: 0;
}

main {
    margin: 1em;
}

.table-wrapper {
    display: inline-block;
    max-height: 70vh;
    overflow-y: scroll;
}

#options {
    table-layout: fixed;
    margin: 0.4em 0;
    max-width: min(100vw, 40em);
    
    border-spacing: 0;
    border: 0.05em solid grey;
    border-radius: 1em;
}
#options tr th, #options tr td {
    border-top: 0.05em solid grey;
    padding: 0.4em 0.6em;
    text-align: center;
}
#options > tr td.selected {
    background-color: #0002;
}
#options > tr a:visited {
    color: inherit;
}

#options thead tr th {
    background-color: #0001;
    border-top: none;
}
#options thead tr th:nth-child(2) { width: 27%; }
#options thead tr th:nth-child(3) { width: 27%; }
#options thead tr th:nth-child(4) { width: 27%; }
#options thead tr th:first-child { border-top-left-radius: 1em; }
#options thead tr th:last-child { border-top-right-radius: 1em; }

input.error {
    color: #C00;
    background-color: #FFCC80;
}

br.mobile { display: none; }

@media (max-width: 40em) {
    /*
    * 40em is a weirdly emperical constant, and still allows for
    * wonkiness in certain screen sizes. Having a determined
    * width for the input fields in the top of the page would
    * be better, then we can target the media query on that.
    */
    body section:first-of-type {
        br.mobile { display: unset; }
    }
}